.preview {
    & > table {
        margin: 50px auto 0;
        border-collapse: collapse;
        border: 1px solid #c3c3c3;
    }
    & > table > tbody > tr {
        border-bottom:1px solid #c3c3c3;

    }
    & > table > tbody > tr  > td {
        padding: 10px;

    }
    
}
.preview__type {
    margin: 10px;
    font-weight:bold;
    text-align: left;
}
.no-data{
    text-align: left;
    span {
      font-family: 'Roboto Mono', monospace;
      font-size: 0.9rem;
    }
  }