.social-card {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}
.social-card__type {
  margin: 10px 0;
  color: grey;
  text-align: left;
}
.social-card__text-container {
  text-align: left;
}
.facebook {
  .social-card__card {
    width: 527px;
  }
  .social-card__card.article {
    width: 527px;
    .social-card__title {
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
    }
    .social-card__description {
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
    }
    .social-card__image {
      height: 273px;
      width: 526px;
      border-left: 1px solid #dadde1;
      border-right: 1px solid #dadde1;
      border-top: 1px solid #dadde1;
    }
    .social-card__text-container {
      background-color: #f1f3f5;
      border-left: 1px solid #dadde1;
      border-right: 1px solid #dadde1;
      border-bottom: 1px solid #dadde1;
    }
  }
  .social-card__card.website {
    width: 527px;
    display: flex;
    flex-direction: row;
    .social-card__title {
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
    .social-card__description {
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      line-height: 1.3;
      margin-top: 6px;
    }
    .social-card__image {
      height: 158px;
      width: 158px;
      border-left: 1px solid #dadde1;
      border-bottom: 1px solid #dadde1;
      border-top: 1px solid #dadde1;
    }
    .social-card__text-container {
      flex: 1;
      display:flex;
      align-items: center;
      letter-spacing: -0.2px;
      background-color: #f1f3f5;
      border-left: 1px solid #dadde1;
      border-top: 1px solid #dadde1;
      border-bottom: 1px solid #dadde1;
    }
  }
  .social-card__text-container {
    background-color: #f1f3f5;
    border-left: 1px solid #dadde1;
    border-right: 1px solid #dadde1;
    border-bottom: 1px solid #dadde1;
    font-family: Helvetica, Arial, sans-serif;
  }
  .social-card__text-container-inner {
    margin: 0;
    padding: 10px 12px;
  }
  .social-card__url {
    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;
    color: #606770;
  }
  .social-card__title {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 3px 0 0;
    padding-top: 2px;
  }
  .social-card__description {
    font-size: 14px;
    line-height: 25px;
    word-break: break-word;
    width: 100%;
    color: #606770;
  }
}
/* TWITTER */
/* Summary or App*/
.twitter {
  .social-card__card {
    width: 436px;
    display: flex;
    flex-direction: row;
    border-radius: 0.85714em;
    border-width: 1px;
    border-style: solid;
    border-color: #e1e8ed;
    overflow: hidden;
  }
  .social-card__card.summary_large_image {
    width: 436px;
    display: block;
    border-radius: 0.85714em;
    border-width: 1px;
    border-style: solid;
    border-color: #e1e8ed;
    overflow: hidden;
    .social-card__image-container {
      height: 220px;
    }
    .social-card__image {
      width: 438px;
      height: 220px;
    }
    .social-card__text-container {
      height: 100%;
    }
    .social-card__text-container-inner {
      padding: 10.5px 14px;
    }
    .social-card__title {
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      word-break: break-all;
      h2 {
        margin: 0 0 0.15em;
        letter-spacing: -0.2px;
      }
    }
    .social-card__description {
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      p {
        font-size: 14px;
        margin: 0.32333em 0;
      }
    }
  }
  .social-card__card.summary,
  .social-card__card.app,
  .social-card__card.player {
    display: flex;
    flex-direction: row;
    .social-card__image {
      width: 125px;
      height: 125px;
      border-right: 1px solid #e1e8ed;
    }
    .social-card__text-container {
      flex: 1;
    }
    .social-card__title {
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      word-break: break-all;
      h2 {
        margin: 0 0 0.15em;
        letter-spacing: -0.2px;
      }
    }
    .social-card__description {
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      span {
        margin-top: 0.32333em;
      }
    }
  }
  .social-card__title {
    h2 {
      font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande",
        sans-serif;
      font-size: 0.9em;
    }
  }
  .social-card__text-container-inner {
    padding: 10.5px;
  }
  .social-card__description {
    margin-top: 4.5px;
    p {
      font-size: 0.9em;
      font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande",
        sans-serif;
      line-height: 18px;
    }
  }
  .social-card__url {
    margin-top: 4.5px;
    text-transform: lowercase;
    color: #8899a6;
    span {
      font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande",
        sans-serif;
      font-size: 0.9em;
      line-height: 18px;
    }
  }
  .social-card__image-container {
    position: relative;
  }
  .social-card__player-button {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    background-size: cover;
    background-image: url("https://ton.twimg.com/tfw/assets/play_v1_8b695d1e7023e06826dfde859728a2a59b15900f.svg");
    opacity: 0.9;
    transition: all ease-in-out 125ms 25ms;
  }
}
